INFLUXDB_USERNAME=admin
INFLUXDB_PASSWORD=admin12345
INFLUXDB_ORG=billiard-org
INFLUXDB_BUCKET=billiard-monitoring
INFLUXDB_TOKEN=billiard-super-token-12345
MQTT_BROKER_HOST=localhost
MQTT_BROKER_PORT=1883
MQTT_TOPIC_PREFIX=billiard/table
TABLE_COUNT=5
PUBLISH_INTERVAL_SECONDS=5
SIMULATION_MINUTES_PER_TICK=5
