.env
*.pyc
__pycache__/

influxdb/data/*
!influxdb/data/.gitkeep
influxdb/config/*
!influxdb/config/.gitkeep

mosquitto/data/*
!mosquitto/data/.gitkeep
mosquitto/log/*
!mosquitto/log/.gitkeep

node-red/data/.config.*
node-red/data/.npm/
node-red/data/node_modules/
node-red/data/lib/
node-red/data/.sessions.json
node-red/data/flows_cred.json
node-red/data/.cache/
